<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body {
            background-color: skyblue;
            font-family: verdana;
            letter-spacing: 2px;
        }
    </style>
</head>
<body>
    
    <h1>This is Profile of <%= person %></h1>
    
    <p><strong>Age:</strong> <%= data.age %> </p>
    <p><strong>Job:</strong> <%= data.job %> </p>

</body>
</html>